<div class="about-me-container">
    <h1 class="section-title">Sobre Mí</h1>
    <div class="profile-info">
      <img src="path/to/your/profile-picture.jpg" alt="Abelardo Cruz Leos" class="profile-picture">
      <p class="profile-description">
        Me llamo Abelardo Cruz Leos. Estoy en el 9º cuatrimestre de la Ingeniería en Software en la Universidad Tecnológica del Sur de Sonora (UTS). Este es mi portafolio web donde quiero mostrar mis habilidades y experiencia.
      </p>
    </div>
  
    <div class="education-experience-container">
      <div class="education-section">
        <h2 class="section-subtitle">Educación</h2>
        <div class="education-item">
          <div class="timeline-icon"></div>
          <div class="education-details">
            <h3>Ingenieria en Software </h3>
            <span>2023 - 2025</span>
            <span> Universidad Tecnológica del Sur de Sonora</span>
            <p>Ingeniería de Desarrollo y Gestión de Software</p>
          </div>
          <button class="edit-button">✏️</button>
          <button class="delete-button">🗑️</button>
        </div>
        <div class="education-item">
          <div class="timeline-icon"></div>
          <div class="education-details">
            <h3>Técnico Superior Universitario</h3>
            <span>2020 - 2023</span>
            <span>Universidad Tecnológica del Sur de Sonora</span>
            <p>Tecnologías de la Información, área Desarrollo de Software Multiplataforma</p>
          </div>
          <button class="edit-button">✏️</button>
          <button class="delete-button">🗑️</button>
        </div>
      </div>
  
      <div class="experience-section">
        <h2 class="section-subtitle">Experiencia Laboral</h2>
        <div class="experience-item">
          <div class="timeline-icon"></div>
          <div class="experience-details">
            <h3>Estadias profecionales</h3>
            <span> 04-2023 /  08-2023 </span>
            <span>Emcorsoft</span>
            <p>Actualizar compnentes de la aplicacion de admin 2.0</p>
          </div>
          <button class="edit-button">✏️</button>
          <button class="delete-button">🗑️</button>
        </div>
        <div class="experience-item">
          <div class="timeline-icon"></div>
          <div class="experience-details">
            <h3>Sonora Digital</h3>
            <span>2024 - 2025</span>
            <span>Sonora Digital</span>
            <p>Desarollo de proyectos.</p>
          </div>
          <button class="edit-button">✏️</button>
          <button class="delete-button">🗑️</button>
        </div>
      </div>
    </div>
  </div>
  