<div class="about-me-container">
    <h1 class="section-title">Sobre Mí</h1>
    <div class="profile-info">
      <img src="path/to/your/profile-picture.jpg" alt="Abelardo Cruz Leos" class="profile-picture">
      <p class="profile-description">
        Me llamo Abelardo Cruz Leos. Estoy en el 9º cuatrimestre de la Ingeniería en Software en la Universidad Tecnológica del Sur de Sonora (UTS). Este es mi portafolio web donde quiero mostrar mis habilidades y experiencia.
      </p>
    </div>
  
    <div class="education-experience-container">
      <div class="education-section">
        <h2 class="section-subtitle">Educación</h2>
        <div class="education-item">
          <div class="timeline-icon"></div>
          <div class="education-details">
            <h3>Desarrollo Web Fullstack</h3>
            <span>2021 - 2022</span>
            <span>Argentina Programa</span>
            <p>Curso de Desarrollo Web FullStack donde se estudian diversas tecnologías como ser HTML, CSS, Bootstrap, Angular, Java, Spring Boot, entre otras.</p>
          </div>
          <button class="edit-button">✏️</button>
          <button class="delete-button">🗑️</button>
        </div>
        <div class="education-item">
          <div class="timeline-icon"></div>
          <div class="education-details">
            <h3>Profesorado de Música - Piano</h3>
            <span>2018 - 2022</span>
            <span>Instituto Superior de Música de la UNT</span>
            <p>Pedagogía, Psicología del Alumno, Manejo de Grupos, Planificación de Clases, Proyectos, Prácticas Profesionales, Composición, Ejecución Instrumental, Arreglos, etc.</p>
          </div>
          <button class="edit-button">✏️</button>
          <button class="delete-button">🗑️</button>
        </div>
      </div>
  
      <div class="experience-section">
        <h2 class="section-subtitle">Experiencia Laboral</h2>
        <div class="experience-item">
          <div class="timeline-icon"></div>
          <div class="experience-details">
            <h3>FullStack Web Developer</h3>
            <span>2022 - Presente</span>
            <span>Freelancer</span>
            <p>Desarrollo de proyectos personales a fin de desarrollar mis habilidades.</p>
          </div>
          <button class="edit-button">✏️</button>
          <button class="delete-button">🗑️</button>
        </div>
        <div class="experience-item">
          <div class="timeline-icon"></div>
          <div class="experience-details">
            <h3>Nueva experiencia</h3>
            <span>2020 - 2022</span>
            <span>Argentina Programa</span>
            <p>Descripción.</p>
          </div>
          <button class="edit-button">✏️</button>
          <button class="delete-button">🗑️</button>
        </div>
      </div>
    </div>
  </div>
  