<div class="flex justify-center items-center min-h-screen">
  <div class="about-me-container">
    <div class="about-me-container">
      <h1 class="section-title">{{ 'ABOUTME.TITLE' | translate }}</h1>

      <div class="profile-info">
        <img src="https://avatars.githubusercontent.com/u/68798247?v=4" alt="Abelardo Cruz Leos"
          class="profile-picture">
        <p class="profile-description">
          Soy Abelardo Cruz Leos, estudiante del décimo cuatrimestre de la Ingeniería en Desarrollo y Gestión de
          Software en la Universidad Tecnológica del Sur de Sonora (UTS). Este portafolio es una muestra de mis
          habilidades, proyectos y experiencia profesional.
        </p>
      </div>

      <div class="education-experience-container">
        <!-- Educación -->
        <div class="education-section">
          <h2 class="section-subtitle">🎓 Educación</h2>

          <div class="education-item">
            <div class="timeline-icon"></div>
            <div class="education-details">
              <h3>Ingeniería en Software</h3>
              <span>2023 - 2025</span>
              <span>Universidad Tecnológica del Sur de Sonora</span>
              <p>Ingeniería en Desarrollo y Gestión de Software.</p>
            </div>
          </div>

          <div class="education-item">
            <div class="timeline-icon"></div>
            <div class="education-details">
              <h3>Técnico Superior Universitario</h3>
              <span>2020 - 2023</span>
              <span>Universidad Tecnológica del Sur de Sonora</span>
              <p>TSU en Tecnologías de la Información, área Desarrollo de Software Multiplataforma.</p>
            </div>
          </div>
        </div>

        <!-- Experiencia -->
        <div class="experience-section">
          <h2 class="section-subtitle">💼 Experiencia Laboral</h2>

          <div class="experience-item">
            <div class="timeline-icon"></div>
            <div class="experience-details">
              <h3>Estadías Profesionales - Somos Multimedia S.A. de C.V.</h3>
              <span>Enero 2025 - Abril 2025</span>
              <p>Mejor y integracion de componetes en el proyecto CloudGFX Private Stats</p>
            </div>
          </div>

          <div class="experience-item">
            <div class="timeline-icon"></div>
            <div class="experience-details">
              <h3>Estadías Profesionales - Emcorsoft</h3>
              <span>Abril 2023 - Agosto 2023</span>
              <p>Actualización de componentes en la aplicación Admin 2.0.</p>
            </div>
          </div>

          <div class="experience-item">
            <div class="timeline-icon"></div>
            <div class="experience-details">
              <h3>Desarrollador - Sonora Digital</h3>
              <span>2024 - 2025</span>
              <p>Desarrollo de proyectos web y software a medida.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>