.hola {
    background: rgba(255, 122, 89, .5);
    background-repeat: repeat;
}

/* Define the size for the button images */
.button-img {
    width: 24px; /* Ajusta el tamaño según tus necesidades */
    height: 24px; /* Ajusta el tamaño según tus necesidades */
  }
  