<div class="container hola mt-5 mb-5 border border-warning rounded">
  <header class="py-4">
    <h1 class="text-center">Bienvenido a mi Portafolio</h1>
  </header>

  <section class="pb-4">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card align-items-center justify-content-center d-flex flex-row" style="padding: 0 auto;">
          <button class="p-3 w-50 btn btn-primary"><a href="https://www.facebook.com/abelardo.cruz.7737" target="_blank"><img class="button-img" src="https://images.vexels.com/media/users/3/223136/isolated/preview/984f500cf9de4519b02b354346eb72e0-icono-de-facebook-redes-sociales.png" alt=""></a></button>
          <button class="p-3 w-50 btn btn-primary"><a href="https://www.facebook.com/abelardo.cruz.7737" target="_blank"><img class="button-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt=""></a></button>
          <button class="p-3 w-50 btn btn-primary"><a href="https://www.youtube.com/@brocurly/featured" target="_blank"><img class="button-img" src="https://cdn-icons-png.flaticon.com/512/5968/5968852.png" alt=""></a></button>
          <button class="p-3 w-50 btn btn-primary"><a href="https://github.com/Umblum12/Umblum12" target="_blank"><img class="button-img" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt=""></a></button>
        </div>
      </div>
      <div class="d-flex flex-row">
        <div class="card col-md-4 mb-4 tamano">
          <img src="https://avatars.githubusercontent.com/u/68798247?v=4" class="card-img-top rounded-circle"  alt="Foto de perfil de abelardo cruz leos">
          <div class="card-body">
            <h5 class="card-title">Abelardo Cruz leos</h5>
          </div>
        </div>
        <div class="textcenter">
          <h2 class="card-text">Ingeniería: </h2>
          <a href="https://uts.sonora.edu.mx/index.php?option=com_sppagebuilder&view=page&id=75"  class="card-text" target="_blank" >Ingeniería en Desarrollo y Gestión de Software </a>
          <h2 class="card-text">Técnico Superior Universitario: </h2>
          <a href="https://uts.sonora.edu.mx/index.php?option=com_sppagebuilder&view=page&id=73" class="card-text" target="_blank">Tecnologías de la Información: Área Desarrollo de Software Multiplataforma </a>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-4">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Proyecto 1</h5>
            <p class="card-text">Descripción del proyecto 1.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Proyecto 2</h5>
            <p class="card-text">Descripción del proyecto 2.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Proyecto 3</h5>
            <p class="card-text">Descripción del proyecto 3.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Proyecto 4</h5>
            <p class="card-text">Descripción del proyecto 4.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Proyecto 5</h5>
            <p class="card-text">Descripción del proyecto 5.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Proyecto 6</h5>
            <p class="card-text">Descripción del proyecto 6.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
