<div class="container hola mt-5 mb-5 border border-warning rounded">
    <header class="py-4">
      <h1 class="text-center">Bienvenido a mi Portafolio</h1>
    </header>
    
    <section class="pb-4">
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="https://avatars.githubusercontent.com/u/68798247?v=4" class="card-img-top rounded-circle" alt="Foto de perfil de abelardo cruz leos">
            <div class="card-body">
              <h5 class="card-title">Abelardo Cruz leos</h5>
              <p class="card-text">Ingeniería: </p>
              <p class="card-text">Ingeniería en Desarrollo y Gestión de Software </p>
              <p class="card-text">Técnico Superior Universitario: </p>
              <p class="card-text">Tecnologías de la Información: Área Desarrollo de Software Multiplataforma </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pb-4">
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Proyecto 1</h5>
              <p class="card-text">Descripción del proyecto 1.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Proyecto 2</h5>
              <p class="card-text">Descripción del proyecto 2.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Proyecto 3</h5>
              <p class="card-text">Descripción del proyecto 3.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Proyecto 4</h5>
              <p class="card-text">Descripción del proyecto 4.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Proyecto 5</h5>
              <p class="card-text">Descripción del proyecto 5.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Proyecto 6</h5>
              <p class="card-text">Descripción del proyecto 6.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
